.todo-cards-item{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 2px 2px;
    width: 90%;
    height: 20%;
    margin-bottom: 10px;
    border-left: 4px solid blue;
    font-family: sans-serif;
    font-size: 100;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
    0 10px 0 -5px #eee;
}

.todo-cards-item .todo-info{
    display: flex;
    flex-direction: column;
}

.todo-cards-item .todo-info .todo-title{
    font-weight: bolder;
    margin-bottom: 5px;
}