.todo-cards-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px;
    width: 90%;
    height: 20%;
    margin-bottom: 10px;
    border-left: 4px solid blue;
    font-family: sans-serif;
    font-size: 100;
}