.todo-cards-item{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 5px 5px;
    width: 90%;
    height: 20%;
    margin-bottom: 10px;
    border-left: 4px solid blue;
    font-family: sans-serif;
    font-size: 100;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
    0 10px 0 -5px #eee;
}

.todo-cards-item .todo-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    padding: 0 5px;
}

.todo-cards-item .todo-info .todo-title{
    font-weight: bolder;
    margin-bottom: 5px;
}

.todo-extra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todo-extra .option-icons{
    display: flex;
    justify-content: space-between;
}

.todo-extra .option-icons .icon{
    font-size: 1rem;
    cursor: pointer;
}

.todo-extra .option-icons .delete-icon{
    color: red;
}

.todo-extra .option-icons .edit-icon{
    color: blue;
}