
.date-screen{
    background-color: #25a1ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    width: 90%;
    margin: 0 auto;
}

.date-right{
    padding-top: 25px;
    color: whitesmoke;
}

.date-left{
    display: flex;
    justify-content: space-between;
    width: 100px;
    color: whitesmoke;
}

.date-left h1{
    color: #aedf62;
    font-size: 3.5rem;
}

.date-left div{
    /* border: 1px solid red; */
    padding-top: 10px;
}


