
.hamburger{
    display: none;
}

@media screen and (max-width:786px) {
    .hamburger{
        display: block;
        font-size: 1.8rem;
        cursor: pointer;
        align-items: center;
        color: #fff;
        padding-top: 5px;
    }
}