
.container{
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px;
}

.top-ctn{
    background-color: #25a1ff;
    /* border: 1px solid green; */
    height: 30vh;
}

.bottom-ctn{
    background-color: #ffffff;
    /* border: 1px solid blue; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}